@model Windsong.VersionManager.ViewModels.ContentItemVersionListViewModel
@{
    Script.Require("jQuery");
    Script.Require("jQueryUi");
}
<fieldset>
    <table class="table">
        <tr>
            <th>Version</th>
            <th>Modified Date</th>
            <th>Modified By</th>
            <th>Title</th>
            <th></th>
        </tr>

        @foreach (var item in Model.Versions)
        {
            <tr>
                <td>@T(item.Version)
                </td>
                <td>@T(item.ModifiedDate)</td>
                <td>@T(item.Title)</td>
                <td>
                    @Html.Link(T("View").Text, Url.Action("ViewVersion", "Admin", new { area = "Windsong.VersionManager", id = Model.ContentId, version = item.Version }), new { target = "_blank"}) | 
                    @Html.Link(T("Revert").Text, Url.Action("PromoteVersion", "Admin", new { area = "Windsong.VersionManager", id = Model.ContentId, version = item.Version })) 
                </td>
            </tr>
        }

    </table>
</fieldset>
