@using Orchard.ContentManagement
@model Windsong.VersionManager.ViewModels.ContentItemVersionListViewModel
@{
    Script.Require("jQuery");
    Script.Require("jQueryUi");
    Script.Include("VersionInfo.js").AtFoot();
    
    var contentItem = Model.ContentItem;
    Layout.Title = T("Viewing Version History for {0}", Model.CurrentTitle);
}
<fieldset>
    <table class="items">
        <tr>
            <th>Version</th>
            <th>Modified Date</th>
            <th>Modified By</th>
            <th>Title</th>
            <th>Published Date</th>
            <th></th>
        </tr>

        @foreach (var item in Model.Versions.Select((value, i) => new { i, value }))
        {
            var versionPublished = item.value.IsPublished;
            var alt = versionPublished ? "is published" : "is not published";
            <tr>
                <td>
                    @T(item.value.Version)
                @if (versionPublished)
                {
                    <img class="icon" src="/Modules/Orchard.PublishLater/Content/Admin/images/online.gif" alt="@alt" title="@alt" />
                }
            </td>
            <td>@T(item.value.ModifiedDate)</td>
            <td>@T(item.value.ModifiedBy)</td>
            <td>@T(item.value.Title)</td>
            <td>@T(item.value.PublishedDate)</td>
            <td>
                @if (item.i > 0)
                {
                    @Html.Link(T("View").Text, Url.Action("ViewVersion", "Admin", new { area = "Windsong.VersionManager", id = contentItem.Id, versionId = item.value.Version }), new { onclick = "openDialogWindow();" })
                    @Html.Link(T(" | Compare With Latest").Text, Url.Action("CompareVersion", "Admin", new { area = "Windsong.VersionManager", id = contentItem.Id, versionId = item.value.Version }), new { onclick = "openDialogWindow();" })
                    @Html.Link(T(" | Promote").Text, Url.Action("PromoteVersion", "Admin", new { area = "Windsong.VersionManager", id = Model.ContentId, versionId = item.value.Version }))
                }
            </td>
        </tr>
        }

    </table>
</fieldset>
